<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.survlogic.survlogic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera2"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>



        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SuperMaterialTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GpsSurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings">

        </activity>

        <activity android:name=".activity.SettingsGpsSurveyActivity"
            android:parentActivityName=".activity.GpsSurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GpsSurveyActivity" />

        </activity>

        <activity android:name=".activity.ProjectNewActivity"
            android:screenOrientation="portrait"
            android:label="New Project"
            android:theme="@style/SuperMaterialTheme">
        </activity>

    </application>

</manifest>