<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.survlogic.survlogic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera2"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name=".ARvS.services.GnssService"
            android:enabled="true"
            android:exported="false">

        </service>

        <service
            android:name=".ARvS.services.SensorService"
            android:enabled="true"
            android:exported="false">

        </service>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="Project View"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.GpsSurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings"/>


        <activity
            android:name=".activity.SettingsGpsSurveyActivity"
            android:parentActivityName=".activity.GpsSurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.ProjectNewActivity"
            android:screenOrientation="portrait"
            android:label="New Project"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.ProjectNewProjectionActivity"
            android:screenOrientation="portrait"
            android:label="New Project"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.ProjectDetailsActivity"
            android:screenOrientation="portrait"
            android:label="Project View"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.PhotoGalleryActivity"
            android:screenOrientation="portrait"
            android:label="Photo Gallery"
            android:excludeFromRecents="true"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="Welcome"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobPointsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobCogoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobCogoSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobCogoMapCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".activity.JobCogoMapCheckResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.JobGpsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".activity.JobPointsAddAdvancedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".activity.JobPointAddSketchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".activity.SketchBackgroundGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.SettingsCurrentJobActivity"
            android:parentActivityName=".activity.JobHomeActivity" />

        <activity android:name=".activity.PlanarMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".ARvS.JobGPSSurveyARvSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".ARvS.JobGPSSurveyWork"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".ARvS.ArvTSettings"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity
            android:name=".activity.CameraActivityV1"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>


        <activity android:name=".camera.CameraActivityLauncher"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".camera.CaptureImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

        <activity android:name=".camera.util.CaptureImageSettings"
            android:screenOrientation="portrait"
            android:theme="@style/SuperMaterialTheme"/>

    </application>

</manifest>